@charset "utf-8";
html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 100px;
}

body {
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    font-size: .14rem;
    font-weight: 300;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
    height: 100%;
}

.swiper-wrapper .swiper-slide:nth-child(odd) {
    background: #eee;
}

.swiper-wrapper .swiper-slide:nth-child(even) {
    background: lightblue;
}

.swiper-slide .bg {
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.swiper-slide .content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow:hidden;
}

.content li {
    position: absolute;
}

.content .list img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.cover .bg {
    background: url("../images/bg1.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.titlepage {
    top: 1.64rem;
    left: 50%;
    width: .98rem;
    height: 4.73rem;
    transform: translate(-50%, 0);
}

.subtitle {
    top: 7.1rem;
    left: 50%;
    width: 4.6rem;
    height: .76rem;
    line-height: .76rem;
    font-size: .4rem;
    font-family: HT;
    color: #fff;
    text-align: center;
    transform: translate(-50%, 0);
}

.page1 {}

.index {
    top: .54rem;
    left: .54rem;
    width: .44rem;
    height: 1.12rem;
}

.title {
    top: .92rem;
    left: .88rem;
    padding: 0 .30rem;
    width: 3.78rem;
    height: .92rem;
    line-height: .92rem;
    font-size: .64rem;
    text-indent: .15rem;
    color: #fff;
}

.info {
    left: .34rem;
    padding: 0 .3rem;
    width: 5rem;
    height: 1.04rem;
    line-height: 1.04rem;
    font-size: .32rem;
    font-weight: 500;
    color: #fff;
}

.page1 .info:nth-child(1) {
    top: 2.86rem;
}

.page1 .info:nth-child(2) {
    top: 3.76rem;
}

.page1 .info:nth-child(3) {
    top: 4.56rem;
}

.page1 .info:nth-child(4) {
    top: 5.4rem;
}

.page1 .info:nth-child(5) {
    top: 6.22rem;
}

.page1 .info:nth-child(6) {
    top: 7.02rem;
}

.svg {
    top: 6.8rem;
    left: 3.84rem;
    width: 4.06rem;
    height: 4.06rem;
}

.star1 {
    top: .5rem;
    left: 4.08rem;
    width: 1.1rem;
    height: .74rem;
}

.star2 {
    top: .94rem;
    left: 4.1rem;
    width: 1.89rem;
    height: .44rem;
}

.star3 {
    top: 1.64rem;
    left: -.02rem;
    width: 1.53rem;
    height: 1rem;
}

.star4 {
    top: 7.28rem;
    left: 4.64rem;
    width: 1.48rem;
    height: 1.44rem;
}

.page2 .svg {
    top: -1.08rem;
    left: 4.24rem;
}

.sJs img,
.sHtml img,
.sCss img,
.sjQuery img,
.sNode img,
.sGulp img {
    position: absolute;
    left: 0;
    top: 0;
}



.sJs h1,
.sHtml h1,
.sCss h1 ,
.sjQuery h1,
.sNode h1,
.sGulp h1 {
    position: relative;
    z-index: 99;
    font-size: .96rem;
    font-weight: 900;
    font-family: fangzheng_sht;
    color: #404449;
    text-align: center;
    vertical-align: middle;
}
.sJs {
    position: relative;
    top: 2.5rem;
    left: .36rem;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
}
.sHtml {
    position: relative;
    top: 2.83rem;
    left: 3.26rem;
    width: 1.58rem;
    height: 1.58rem;
    line-height: 1.58rem;
}

.sHtml h1 {
    font-size: .5rem;
}

.sCss {
    top: 4.38rem;
    left: 4.68rem;
    width: 1.3rem;
    height: 1.3rem;
    line-height:1.3rem;
}

.sCss h1 {
    font-size: .5rem;
    color:#fff;
}
.sjQuery {
	top:5.16rem;
	left:1.28rem;
	width:2.58rem;
	height:1.26rem;
	line-height:1.26rem;
}
.sjQuery h1 {
	font-size:.4rem;
	color:#404449;
}

.sNode {
	top:7.1rem;
	left:.8rem;
	width:2.7rem;
	height:2.7rem;
	line-height:2.7rem;
}
.sNode h1 {
	/* font-size:; */
}
.sGulp {
	top:6.4rem;
	right:.2rem;
	width:1.52rem;
	height:1.52rem;
	line-height:1.52rem;
}
.sGulp h1  {
	font-size:.5rem;
	color:#fff;
}

.page2 .star1{
	top:3.8rem;
	left:2.42rem;
}
.page2 .star1-1 {
	top: 6.38rem;
    left: 3.28rem;
}