@charset "utf-8";
html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 100px;
}

body {
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    font-size: .14rem;
    font-weight: 300;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
    height: 100%;
}

.swiper-wrapper .swiper-slide:nth-child(odd) {
    background: #eee;
}

.swiper-wrapper .swiper-slide:nth-child(even) {
    background: lightblue;
}

.swiper-slide .bg {
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.swiper-slide .content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
}

.content li {
    position: absolute;
}

.content .list img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.cover .bg {
    background: url("../images/bg1.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.titlepage {
    top: 1.64rem;
    left: 2.71rem;
    width: .98rem;
    height: 4.73rem;
    /* transform: translate(-50%, 0); */
}

.subtitle {
    top: 7.1rem;
    left: .9rem;
    width: 4.6rem;
    height: .76rem;
    line-height: .76rem;
    font-size: .4rem;
    font-family: HT;
    color: #fff;
    text-align: center;
    /* transform: translate(-50%, 0); */
}

.page1 {}

.index {
    top: .54rem;
    left: .54rem;
    width: .44rem;
    height: 1.12rem;
}

.title {
    top: .92rem;
    left: .88rem;
    padding: 0 .30rem;
    width: 3.78rem;
    height: .92rem;
    line-height: .92rem;
    font-size: .64rem;
    text-indent: .15rem;
    color: #fff;
}

.info {
    left: .34rem;
    padding: 0 .3rem;
    width: 5rem;
    height: 1.04rem;
    line-height: 1.04rem;
    font-size: .32rem;
    font-weight: 500;
    color: #fff;
}

.page1 .info:nth-child(1) {
    top: 2.86rem;
}

.page1 .info:nth-child(2) {
    top: 3.76rem;
}

.page1 .info:nth-child(3) {
    top: 4.56rem;
}

.page1 .info:nth-child(4) {
    top: 5.4rem;
}

.page1 .info:nth-child(5) {
    top: 6.22rem;
}

.page1 .info:nth-child(6) {
    top: 7.02rem;
}

.svg {
    top: 6.8rem;
    left: 3.84rem;
    width: 4.06rem;
    height: 4.06rem;
    animation: rotate360 15s linear infinite both;
    -webkit-animation: rotate360 15s linear infinite both;
}

@keyframes rotate360 {
    from {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate360 {
    from {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.star1 {
    top: .5rem;
    left: 4.08rem;
    width: 1.1rem;
    height: .74rem;
}

.star2 {
    top: .94rem;
    left: 4.1rem;
    width: 1.89rem;
    height: .44rem;
}

.star3 {
    top: 1.64rem;
    left: -.02rem;
    width: 1.53rem;
    height: 1rem;
}

.star4 {
    top: 7.28rem;
    left: 4.64rem;
    width: 1.48rem;
    height: 1.44rem;
}

.page2 .svg {
    top: -1.08rem;
    left: 4.24rem;
}

.sJs img,
.sHtml img,
.sCss img,
.sjQuery img,
.sNode img,
.sGulp img {
    position: absolute;
    left: 0;
    top: 0;
}

.sJs h1,
.sHtml h1,
.sCss h1,
.sjQuery h1,
.sNode h1,
.sGulp h1 {
    position: relative;
    z-index: 99;
    font-size: .96rem;
    font-weight: 900;
    font-family: fangzheng_sht;
    color: #404449;
    text-align: center;
    vertical-align: middle;
}

.sJs {
    position: relative;
    top: 2.5rem;
    left: .36rem;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
}

.sHtml {
    position: relative;
    top: 2.83rem;
    left: 3.26rem;
    width: 1.58rem;
    height: 1.58rem;
    line-height: 1.58rem;
}

.sHtml h1 {
    font-size: .5rem;
}

.sCss {
    top: 4.38rem;
    left: 4.68rem;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
}

.sCss h1 {
    font-size: .5rem;
    color: #fff;
}

.sjQuery {
    top: 5.16rem;
    left: 1.28rem;
    width: 2.58rem;
    height: 1.26rem;
    line-height: 1.26rem;
}

.sjQuery h1 {
    font-size: .4rem;
    color: #404449;
}

.sNode {
    top: 7.1rem;
    left: .8rem;
    width: 2.7rem;
    height: 2.7rem;
    line-height: 2.7rem;
}

.sNode h1 {
    /* font-size:; */
}

.sGulp {
    top: 6.4rem;
    right: .2rem;
    width: 1.52rem;
    height: 1.52rem;
    line-height: 1.52rem;
}

.sGulp h1 {
    font-size: .5rem;
    color: #fff;
}

.page2 .star1 {
    top: 3.8rem;
    left: 2.42rem;
}

.page2 .star1-1 {
    top: 6.38rem;
    left: 3.28rem;
}


/* -- animate start-- */

.titlepage,
.subtitle,
.info {
    opacity: 0;
}

#cover ul > li:nth-child(1) {
    opacity: 1;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: zoomIn 1s both;
    animation: zoomIn 1s both;
}

#cover ul > li:nth-child(2) {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation: bounceInUp 1s .3s both;
    animation: bounceInUp 1s .3s both;
}

#cover ul > li:nth-child(3) {
    -webkit-animation: flash 6s 0s 3 both;
    animation: flash 6s 0s 3 both;
}

#cover ul > li:nth-child(4) {
    -webkit-animation: flash 6s 0s 3 both;
    animation: flash 6s 0s 3 both;
}

#page1 ul > li:nth-child(1) {
    -webkit-animation: bounceInLeft 1s 0s both;
    animation: bounceInLeft 1s 0s both;
}

#page1 ul > li:nth-child(2) {
    -webkit-animation: bounceInLeft 1s .2s both;
    animation: bounceInLeft 1s .2s both;
}

#page1 ul > li:nth-child(3) {
    -webkit-animation: bounceInLeft 1s .4s both;
    animation: bounceInLeft 1s .4s both;
}

#page1 ul > li:nth-child(4) {
    -webkit-animation: bounceInLeft 1s .6s both;
    animation: bounceInLeft 1s .6s both;
}

#page1 ul > li:nth-child(5) {
    -webkit-animation: bounceInLeft 1s .8s both;
    animation: bounceInLeft 1s .8s both;
}

#page1 ul > li:nth-child(6) {
    -webkit-animation: bounceInLeft 1s 1s both;
    animation: bounceInLeft 1s 1s both;
}

#page1 .title,
#page1 .index,
#page2 .title,
#page2 .index,
#page3 .title,
#page3 .index,
#page4 .title,
#page4 .index,
#page5 .title,
#page5 .index {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation: flipInX 1s 0s both;
    animation: flipInX 1s 0s both;
}

.sJs,
.sHtml,
.sCss,
.sjQuery,
.sNode,
.sGulp,
.title,
.index {
    opacity: 0;
}

#page2 .sJs img,
#page2 .sHtml img,
#page2 .sCss img,
#page2 .sNode img,
#page2 .sGulp img,
#page2 .sjQuery img {
    -webkit-animation: rotate360 8s linear 1s 3 both;
    animation: rotate360 8s linear 1s 3 both;
}

#page2 .sJs {
    -webkit-animation: zoomInLeft 1.5s 0s both;
    animation: zoomInLeft 1.5s 0s both;
}

#page2 .sHtml {
    -webkit-animation: zoomInLeft 1.7s both;
    animation: zoomInLeft 1.7s both;
}

#page2 .sCss {
    -webkit-animation: zoomInLeft 2.1s both;
    animation: zoomInLeft 2.1s both;
}

#page2 .sjQuery {
    -webkit-animation: zoomInLeft 2.3s both;
    animation: zoomInLeft 2.3s both;
}

#page2 .sGulp {
    -webkit-animation: zoomInLeft 2.5s both;
    animation: zoomInLeft 2.5s both;
}

#page2 .sNode {
    -webkit-animation: zoomInLeft 2.7s both;
    animation: zoomInLeft 2.7s both;
}


/* -- animate keyframes start-- */

@-webkit-keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
        opacity: 1;
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        opacity: 1;
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
        opacity: 1;
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        opacity: 1;
    }
}

@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg) translate(-.49rem, 0);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(1rem, 1rem);
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}


/* .animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
} */

@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}


/* .flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
} */

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes zoomInLeft {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-13rem, 10rem, 0);
        transform: scale3d(.1, .1, .1) translate3d(-13rem, 10rem, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) translate3d(.1rem, 0, 0);
        transform: scale3d(1, 1, 1) translate3d(.1rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInLeft {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-13rem, 10rem, 0);
        transform: scale3d(.1, .1, .1) translate3d(-13rem, 10rem, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) translate3d(.1rem, 0, 0);
        transform: scale3d(1, 1, 1) translate3d(.1rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@-webkit-keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@-webkit-keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
