@charset "utf-8";
html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 100px;
}

body {
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    font-size: .14rem;
    font-weight: 300;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
    height: 100%;
}

.swiper-wrapper .swiper-slide:nth-child(odd) {
    background: #eee;
}

.swiper-wrapper .swiper-slide:nth-child(even) {
    background: lightblue;
}

.swiper-slide .bg {
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.swiper-slide .content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow:hidden;
}

.content li {
    position: absolute;
}

.content .list img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.cover .bg {
    background: url("../images/bg1.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.titlepage {
    top: 1.64rem;
    left: 2.71rem;
    width: .98rem;
    height: 4.73rem;
    /* transform: translate(-50%, 0); */
}

.subtitle {
    top: 7.1rem;
    left: .9rem;
    width: 4.6rem;
    height: .76rem;
    line-height: .76rem;
    font-size: .4rem;
    font-family: HT;
    color: #fff;
    text-align: center;
    /* transform: translate(-50%, 0); */
}

.page1 {}

.index {
    top: .54rem;
    left: .54rem;
    width: .44rem;
    height: 1.12rem;
}

.title {
    top: .92rem;
    left: .88rem;
    padding: 0 .30rem;
    width: 3.78rem;
    height: .92rem;
    line-height: .92rem;
    font-size: .64rem;
    text-indent: .15rem;
    color: #fff;
}

.info {
    left: .34rem;
    padding: 0 .3rem;
    width: 5rem;
    height: 1.04rem;
    line-height: 1.04rem;
    font-size: .32rem;
    font-weight: 500;
    color: #fff;
}

.page1 .info:nth-child(1) {
    top: 2.86rem;
}

.page1 .info:nth-child(2) {
    top: 3.76rem;
}

.page1 .info:nth-child(3) {
    top: 4.56rem;
}

.page1 .info:nth-child(4) {
    top: 5.4rem;
}

.page1 .info:nth-child(5) {
    top: 6.22rem;
}

.page1 .info:nth-child(6) {
    top: 7.02rem;
}

.svg {
    top: 6.8rem;
    left: 3.84rem;
    width: 4.06rem;
    height: 4.06rem;
}

.star1 {
    top: .5rem;
    left: 4.08rem;
    width: 1.1rem;
    height: .74rem;
}

.star2 {
    top: .94rem;
    left: 4.1rem;
    width: 1.89rem;
    height: .44rem;
}

.star3 {
    top: 1.64rem;
    left: -.02rem;
    width: 1.53rem;
    height: 1rem;
}

.star4 {
    top: 7.28rem;
    left: 4.64rem;
    width: 1.48rem;
    height: 1.44rem;
}

.page2 .svg {
    top: -1.08rem;
    left: 4.24rem;
}

.sJs img,
.sHtml img,
.sCss img,
.sjQuery img,
.sNode img,
.sGulp img {
    position: absolute;
    left: 0;
    top: 0;
}



.sJs h1,
.sHtml h1,
.sCss h1 ,
.sjQuery h1,
.sNode h1,
.sGulp h1 {
    position: relative;
    z-index: 99;
    font-size: .96rem;
    font-weight: 900;
    font-family: fangzheng_sht;
    color: #404449;
    text-align: center;
    vertical-align: middle;
}
.sJs {
    position: relative;
    top: 2.5rem;
    left: .36rem;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
}
.sHtml {
    position: relative;
    top: 2.83rem;
    left: 3.26rem;
    width: 1.58rem;
    height: 1.58rem;
    line-height: 1.58rem;
}

.sHtml h1 {
    font-size: .5rem;
}

.sCss {
    top: 4.38rem;
    left: 4.68rem;
    width: 1.3rem;
    height: 1.3rem;
    line-height:1.3rem;
}

.sCss h1 {
    font-size: .5rem;
    color:#fff;
}
.sjQuery {
	top:5.16rem;
	left:1.28rem;
	width:2.58rem;
	height:1.26rem;
	line-height:1.26rem;
}
.sjQuery h1 {
	font-size:.4rem;
	color:#404449;
}

.sNode {
	top:7.1rem;
	left:.8rem;
	width:2.7rem;
	height:2.7rem;
	line-height:2.7rem;
}
.sNode h1 {
	/* font-size:; */
}
.sGulp {
	top:6.4rem;
	right:.2rem;
	width:1.52rem;
	height:1.52rem;
	line-height:1.52rem;
}
.sGulp h1  {
	font-size:.5rem;
	color:#fff;
}

.page2 .star1{
	top:3.8rem;
	left:2.42rem;
}
.page2 .star1-1 {
	top: 6.38rem;
    left: 3.28rem;
}


/* -- animate start-- */
.titlepage, .subtitle, .info  {
    opacity:0;
}
#cover ul > li:nth-child(1) {
    opacity:1;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: zoomIn 1s both;
    animation: zoomIn 1s both;
}

#cover ul > li:nth-child(2) {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation: swing 1s .3s both;
    animation: swing 1s .3s both;
}

#cover ul > li:nth-child(3) {
    -webkit-animation: bounceInUp 1s .6s both;
    animation: bounceInUp 1s .6s both;
}

#cover ul > li:nth-child(4) {
    -webkit-animation: bounceInUp 1s .9s both;
    animation: bounceInUp 1s .9s both;
}

#page1 ul > li:nth-child(1) {
    -webkit-animation: fadeInDownBig 1s both;
    animation: fadeInDownBig .2s both;
}
#page1 ul > li:nth-child(2) {
    -webkit-animation: fadeInDownBig 1s both;
    animation: fadeInDownBig .4s both;
}
#page1 ul > li:nth-child(3) {
    -webkit-animation: fadeInDownBig 1s both;
    animation: fadeInDownBig .5s both;
}
#page1 ul > li:nth-child(4) {
    -webkit-animation: fadeInDownBig 1s both;
    animation: fadeInDownBig 1s both;
}
#page1 ul > li:nth-child(5) {
    -webkit-animation: fadeInDownBig 1s both;
    animation: fadeInDownBig 1.2s both;
}
#page1 ul > li:nth-child(6) {
    -webkit-animation: fadeInDownBig 1s both;
    animation: fadeInDownBig 1.4s both;
}



/* -- animate keyframes start-- */
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
        opacity:1;
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
         opacity:1;
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
        opacity:1;
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
         opacity:1;
    }
}


@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg) translate(-.49rem,0);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(1rem,1rem);
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}